.wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header {
    margin-inline: 31px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.cardWrapper {
    margin-top: 18px;
}

.tabWrapper{
    margin-left: 31px;
    .genreTab{
        color: black;
    }
    .selectedTab{
        color: black !important;
        border-bottom-color: #34C94B !important;
    }

}

.indicator{
    background-color: #34C94B !important;
}